@import './../../Global.css';

.details {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  .details h1 {
    margin-bottom: 20px;
    color: var(--pink);
    text-align: left;
  }
  
  .details p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: var(--pink);
    text-align: left;
  }
  
  .details button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: var(--nav-background);
    color: var(--pink);
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .details button:hover {
    color: var(--dark-Green);
    background-color: var(--pink);
  }

  @media (max-width: 768px) {
    .details {
      padding: 10px;
    }
  
    .details h1 {
      font-size: 24px; 
    }
  
    .details p {
      font-size: 14px; 
    }
  
    .details button {
      font-size: 14px; 
      padding: 8px 16px; 
    }
  }