@import './../../Global.css';

.main-image {
   width: 90%;
   margin-bottom: 10px;
}

.main-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .main-image {
    width: 100%; 
    margin-bottom: 5px; 
  }

  .main-image img {
    border-radius: 8px;
  }
}

