@import './components/Global.css';

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    /*background: url('path/to/your/background-image.jpg') no-repeat center center fixed;  Imagen de fondo */
     /*background-size: cover; Asegura que la imagen cubra toda la pantalla */
    background-color: var(--dark-Green);
    font-family: var(--font-family);
}
